.seeall-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.seeall-container01 {
  top: -4px;
  flex: 0 0 auto;
  right: -1px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text {
  font-size: 33px;
}
.seeall-link {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text01 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text02 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container05 {
  top: 296px;
  flex: 0 0 auto;
  right: -1px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text03 {
  font-size: 33px;
}
.seeall-link01 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description01 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text04 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text05 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container09 {
  top: 196px;
  flex: 0 0 auto;
  right: -1px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text06 {
  font-size: 33px;
}
.seeall-link02 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description02 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text07 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text08 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container13 {
  top: 96px;
  flex: 0 0 auto;
  right: -2px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text09 {
  font-size: 33px;
}
.seeall-link03 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description03 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text10 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text11 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container17 {
  top: 395px;
  flex: 0 0 auto;
  left: -2px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text12 {
  font-size: 33px;
}
.seeall-link04 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description04 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text13 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text14 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container21 {
  top: 695px;
  flex: 0 0 auto;
  left: -2px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container22 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text15 {
  font-size: 33px;
}
.seeall-link05 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description05 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text16 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text17 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container25 {
  top: 595px;
  flex: 0 0 auto;
  left: -2px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container26 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container27 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text18 {
  font-size: 33px;
}
.seeall-link06 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description06 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text19 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text20 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container29 {
  top: 495px;
  flex: 0 0 auto;
  left: -1px;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text21 {
  font-size: 33px;
}
.seeall-link07 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description07 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text22 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text23 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container33 {
  flex: 0 0 auto;
  right: -1px;
  width: 100%;
  bottom: 110px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container34 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container36 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text24 {
  font-size: 33px;
}
.seeall-link08 {
  top: 4px;
  left: 50px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description08 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text25 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text26 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-container37 {
  flex: 0 0 auto;
  right: -2px;
  width: 100%;
  bottom: 10px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(233, 213, 213);
}
.seeall-container38 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container39 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-container40 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seeall-text27 {
  font-size: 33px;
}
.seeall-link09 {
  top: 5px;
  left: 67px;
  width: 250px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.seeall-description09 {
  top: 15px;
  left: 546px;
  width: 641px;
  height: 71px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seeall-text28 {
  top: 8px;
  left: 0px;
  position: absolute;
}
.seeall-text29 {
  top: 31px;
  left: 368px;
  position: absolute;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
}
.seeall-navlink {
  top: 15px;
  right: 15px;
  position: absolute;
  text-decoration: none;
  background-color: #e57272;
}
.seeall-navlink1 {
  top: 16px;
  right: 137px;
  position: absolute;
  text-decoration: none;
  background-color: #e57272;
}
