.component1-container {
  display: flex;
  position: relative;
}
.component1-button {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}
.component1-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.component1-root-class-name {
  top: -10px;
  right: -9px;
  position: absolute;
}
