.component-container {
  display: flex;
  position: relative;
}
.component-button {
  display: flex;
  flex-direction: row;
  background-color: #a73333;
}
.component-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
